/**
  * Styling for PhoneHome Client, for ease of styling application for 
  * Scrollpane's Scrollbar.
  */

  /* Scrollpane styling */
.scroll-pane {
    /* Standard styling */
    border-color: white;
    border-width: 1 1 1 1;

    /* Javafx styling */
    -fx-border-color: white; 
    -fx-border-width: 1 1 1 1;
}


/* Scrollpane's Scrollbar styling*/
.scroll-bar:horizontal, .scroll-bar:vertical {
    /* Standard styling */
    background-color: #1d1d1d;

    /* Javafx styling */
    -fx-background-color: #1d1d1d;
}